<h1> edit </h1>
<form action ="/photos/<%= @the_id %>">
  <label for="caption"> the caption </label>
  <input id="caption" type="text" name="da_caption" value="<%= @cap  %>">
  <label for="source"> the source </label>
    <input  id="source" type="text" name="da_source" value="<%= @url  %>" >
      <button>Edit photo</button>
    </form>
