


<form action="/update_photo/<%= @photo.id %>">
  <h1> Edit image</h1>
  <label for="source_input"> Image URL </label>
  <input id="source_input" value="<%= @photo.source %>" name="the_source">
  <label for="caption_input"> Caption </label>
  <input id="caption_input" value="<%= @photo.caption %>" name="the_caption">
  <button> Update Photo </button>
</form>
