<h1> Add a new photo </h1>

<form action ="/create_photo">
  <label for="cap"> Caption </label>
  <input id="cap" type="text" name="da_caption">
  <label for="source"> Image URL </label>
    <input  id="source" type="text" name="da_source">
    <button>Create Photo</button>
    </form>
